<html>
<head>
</head>
<body>

    <div id="report_wrapper">
      <div id="report">    
        <h2>Snow Report</h2>
        <figure class="ribbon"></figure>
        
        <h3>Updated 11/23 at 11:32AM</h3>
        <h3>Current Snowfall</h3>
      <table>
                                <tr>
                <th>Days and Hours of Operation</th>
                <td>Opening Day December 6th!</td>
                                </tr>
                                <tr>
                                        <th>Snow Overnight</th>
                                        <td>0</td>
                                </tr>
                                <tr>
                                        <th>Snow Last 24 Hours</th>
                                        <td>0</td>
                                </tr>
                                <tr>
                                        <th>Snow Since Sunday</th>
                                        <td>17</td>
                                </tr>
        </table>        
                <h3>Periodic Snow Updates</h3><table><tr><th>Total Today:</th><td>0</td></tr></table><h3>Current Conditions</h3><table>
                        <tr><th>Total Snow YTD</th>
        <td>39</td></tr>
        <tr><th>Surface Conditions</th>
        <td>Hike and Ski!  Be cautious of tracked packed and varying groomed surfaces.  POWDER IS SWEET!</td></tr>
                        <tr><th>Lodge Depth</th>
        <td>12</td></tr>
        <tr><th>Summit Depth</th>
        <td>24</td></tr>
        <tr><th>Trails Open</th>
        <td>December 6</td></tr>
        <tr><th>Lifts Open</th>
        <td>December 6</td></tr>
        <tr><th>Current Temperature</th>
        <td>28 above</td></tr>
        <tr><th>Anticipated Temperature</th>
        <td>32 above</td></tr>
        <tr><th>Current Weather Conditions</th>
        <td>Sunshine</td></tr>
        <tr><th>Anticipated Weather Conditions</th>
        <td>Sunshine</td></tr></table>
                        <h4>Notes</h4>
        <p>Opening Day is Friday, December 6th!  We Ski Cousins entertain December 7th!

</p>
        <h4>News</h4>
        <p>Get your Showup Cards, only a few left in stock!  Multi Day Youth Programs - Great Rates, Great Fun, join the Showdown Family.</p>
        <h4>Park</h4>
        <p>Lodge Rail Jam on December 14th.  </p>
        <br/>
            <a href="http://forecast.weather.gov/MapClick.php?lat=46.83647526765&lon=-110.71643829345703&site=tfx&smap=1&marine=0&unit=0&lg=en" title="Weather" target="_blank">Weather Report</a>
            <br/>
            <a href="http://www.wrh.noaa.gov/mesowest/getobext.php?wfo=tfx&sid=phym8&num=48" target="_blank" title="Porphyry Peak Weather Station">Porphyry Peak Weather Station</a>
        </div>
    </div>
    

</body>
</html>
