%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:trails, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:trails, :new)

.tabs-content
  -form_for :trail, url(:trails, :create), :class => 'form-horizontal' do |f|
    =partial 'trails/form', :locals => { :f => f }
