%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:lifts, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:lifts, :new)
  %li.active=link_to tag_icon(:edit, pat(:edit)), url(:lifts, :edit, :id => @lift.id)

.tabs-content
  -form_for :lift, url(:lifts, :update, :id => @lift.id), :method => :put, :class => 'form-horizontal' do |f|
    =partial 'lifts/form', :locals => { :f => f }
