%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:lifts, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:lifts, :new)

.tabs-content
  -form_for :lift, url(:lifts, :create), :class => 'form-horizontal' do |f|
    =partial 'lifts/form', :locals => { :f => f }
