%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:roads, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:roads, :new)

.tabs-content
  -form_for :road, url(:roads, :create), :class => 'form-horizontal' do |f|
    =partial 'roads/form', :locals => { :f => f }
